header{
  padding: 20px 30px;
  background-color: rgb(56, 47, 47);

  text-align: center;
}

header a{
  color: white;
  padding: 0px 20px;
  text-decoration: none;
}

header a:hover{
  text-decoration: underline;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main{
  min-height: calc(100vh - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a{
  text-decoration: none;
  color: white;


}

main a:hover{
  text-decoration: underline;
}
.active{
  color: var(--color-active);
  cursor: default;
} 